.DS_Store
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
models/
data/raw/
data/processed/*.csv
data/processed/*.parquet
!data/processed/README.md
text_extractor/outputs/*.csv
text_extractor/outputs/*.parquet
**/data/processed/*.csv
**/data/processed/*.parquet
